/* src/index.css */

/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Занимаем всё окно WebView */
html,
body,
#root {
  height: 100vh;
  min-height: 100vh;
  margin: 0;
}

/* Глобальные стили */
body {
  @apply bg-gray-50 text-gray-800;
}
