@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
body,
#root {
  margin: 0;
  height: 100vh;
  min-height: 100vh;
}

/* Основной цвет/фон */
body {
  @apply bg-gray-50 text-gray-800;
}